In [84]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import types

In [85]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [86]:
engine = create_engine('oracle+cx_oracle://HKCJ:HKCJ@localhost:1521/xe')

In [88]:

resultname = 'customerdata64'

to_varchar = {c:types.VARCHAR(customerData[c].str.len().max()) \
        for c in customerData.columns[customerData.dtypes == 'object'].tolist()}

customerData.to_sql(resultname, engine, if_exists ='replace', index = False,  dtype=to_varchar)

In [82]:
data_db = pd.read_sql('select * from customerdata64', engine)

In [83]:
data_db.head()

   custid  averageprice  emi  devicecount  productage          custtype
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [62]:
customerData.dtypes

CUSTID           object
AVERAGEPRICE    float64
EMI               int64
DEVICECOUNT     float64
PRODUCTAGE      float64
CUSTTYPE         object
dtype: object

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import types

In [5]:
customerData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [6]:
engine = create_engine('oracle+cx_oracle://HKCJ:HKCJ@localhost:1521/xe')

In [7]:

resultname = 'kopo_channel_seasonality'

to_varchar = {c:types.VARCHAR(customerData[c].str.len().max()) \
        for c in customerData.columns[customerData.dtypes == 'object'].tolist()}

customerData.to_sql(resultname, engine, if_exists ='replace', index = False,  dtype=to_varchar)